<body>
  <h1>Create a new Item</h1>

  <form action="/items/create" method="post">
    <input type="text" name="name" value="" placeholder="item name">
    <input type="text" name="price" value="" placeholder="items price">
    <button type="submit" name="Add Item">Add Item</button>
  </form>
</body>
